<a href="https://colab.research.google.com/github/NonMundaneDev/carbon-arise-internship/blob/main/Arise_Internship_Application_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [ ]:
# Add your code for Question 1 in this code block
import pandas as pd

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [ ]:
# Add your code for Question 2 in this code block
data = pd.read_csv('application_data.csv')

In [ ]:
# Check for the first five rows of your data
data.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [ ]:
# I typically call the `.columns()` function so I can copy and paste the appropriate column names
data.columns

Index(['customerID', 'loanId', 'appilcationDate', 'LoanNumber', 'LoanAmount',
       'InterestRate', 'TermDays', 'repaymentDueDate', 'repaymentPaidDate'],
      dtype='object')

In [ ]:
# convert to dates
from datetime import datetime, date, time   # This should have been imported in the first cell as it...
                                            # ... is bad practice to import modules away from the beginning cells

data['appilcationDate'] = pd.to_datetime(data['appilcationDate'])
data['repaymentDueDate'] = pd.to_datetime(data['repaymentDueDate'])
data['repaymentPaidDate'] = pd.to_datetime(data['repaymentPaidDate'])

In [ ]:
# Check for the first five rows of the dataframe

data.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [ ]:
# data types

# You can confirm the number of unique data types by calling the `nunique()` function on the dtypes attribute

data.dtypes.nunique()

4

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [ ]:
# 2a avg loan amount
round(data['LoanAmount'].mean(), 2)

13828.08

In [ ]:
# 2b avg interest rate
round(data['InterestRate'].mean(), 2)

23.06

In [ ]:
# 2c avg term days 
round(data['TermDays'].mean(), 2)

42.08

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [ ]:
# number of loans more than 3 days late

data_diff = data['repaymentDueDate'] - data['repaymentPaidDate'] # This will return number of days

# convert data_diff to an integer so we can perform a boolean operation to check for the time loans...
# ... were more than 3 days late.

data['dateDifference']  = (data_diff).astype('timedelta64[D]').astype(int)


# Since we have converted our number of days to an integer, we can now perform a boolean operation...
after_3_days  = data[data['dateDifference'] > 3]

In [ ]:
# Then count the number of loans that were paid after 3 days...

after_3_days['LoanNumber'].count()

555

In [ ]:
# You can check the first five rows to confirm that numbers <= 3 have been filtered out

after_3_days['dateDifference'].head()

0     4
1    24
2    30
3    26
5    71
Name: dateDifference, dtype: int32

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [ ]:
# mean loan amount in 30-day loans

loan_30_days = round(data.groupby('TermDays')['LoanAmount'].mean().loc[30], 2)
loan_30_days

7941.96

In [ ]:
# standard deviation of loan amount in 90-day loans

loan_90_days = round(data.groupby('TermDays')['LoanAmount'].std().loc[90], 2)
loan_90_days

18050.14

---

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [ ]:
# Since we will be grouping by the late loans (which we saved DataFrame `after_3_days`), then we will...
# ... be working with this dataframe.

after_3_days.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference,week_of_the_year
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16,4,51
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29,24,51
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08,30,2
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08,26,1
5,027610141,302955854172,2018-12-22,6,45000.0,10.0,90,2019-03-21,2019-01-09,71,51

In [ ]:
# To convert the application date to week, you can optionally confirm its data type

after_3_days.appilcationDate.head()

0   2018-12-21
1   2018-12-23
2   2019-01-08
3   2019-01-04
5   2018-12-22
Name: appilcationDate, dtype: datetime64[ns]

In [ ]:
# We will convert the 'appilcationDate' Series to a week number with the `dt.week` function and store...
# ... it in a new, created column called 'week_of_the_year'

after_3_days['week_of_the_year'] = data['appilcationDate'].dt.week

C:\Users\PC\Anaconda3\envs\pytorch_en\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [ ]:
# We can confirm that the new column has been added by calling the first five rows of the dataframe

after_3_days.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference,week_of_the_year
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16,4,51
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29,24,51
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08,30,2
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08,26,1
5,027610141,302955854172,2018-12-22,6,45000.0,10.0,90,2019-03-21,2019-01-09,71,51

In [ ]:
# Now you can filter out the rows with only second week of the year.
# This returns a DataFrame, we can assign this DataFrame to the variable `after_3_days`

after_3_days = after_3_days[after_3_days['week_of_the_year'] == 2]

In [ ]:
# Check to see if the filtering was done right...

after_3_days.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference,week_of_the_year
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08,30,2
26,153423083,303028288661,2019-01-10,1,11000.0,27.0,45,2019-02-24,2019-01-10,45,2
62,727837791,303024393054,2019-01-09,1,4000.0,30.0,30,2019-02-08,2019-01-11,28,2
71,867496972,303017276507,2019-01-08,2,20000.0,20.0,60,2019-03-07,2019-01-15,51,2
82,251292580,303026679722,2019-01-10,1,5000.0,30.0,30,2019-02-09,2019-01-13,27,2

In [ ]:
# week of year and average number of late days

avg_num_of_late_days = round(after_3_days.groupby('week_of_the_year')['dateDifference'].mean(), 2)

avg_num_of_late_days

# We can see below that the average number of late days in the second week is 32, since our data type...
# ... is an integer, we cannot therefore round it up to any decimal place at all.

week_of_the_year
2    32
Name: dateDifference, dtype: int32

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.

### Notebook
Please save you notebook as `yourEmail.ipynb` where you replace `yourEmail` with your actual email address and attach it to the arise Challenge Answers form.